APP_NAME=LUXECAST
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=luxecast
DB_USERNAME=luxecast
DB_PASSWORD=secret

CACHE_DRIVER=redis
QUEUE_CONNECTION=redis

STRIPE_KEY=
STRIPE_SECRET=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=ap-southeast-2
AWS_BUCKET=
